body {
	background-image: url("images/bg.png");
	background-size: cover;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#friendsList li {
	list-style-type: none;
	display: inline;
	padding: 10px;
	background-color: grey;
	border-radius: 2px;
}

#friendsList {
	padding:0px;
	margin-bottom: 20px;
}



#friendsList li:active{
	background-color: red;
}

#nameLine1, #nameLine2 {
	display:inline;
}

#image {
	display:none;
}